<h1>Products:</h1>

<ul>
  <% @products.each do |product| %>
    <li><a href="/product/<%= product.id %>"><%= product.name %>, <%= product.price %></a></li>
  <% end %>
</ul>

<form action="/add_product" method="post">
  <label for="name">Product name:</label>
  <input id="name" name="name" type="text">
  <label for="price">Product price:</label>
  <input id="price" name="price" type="text">
  <button type="submit">Add product</button>
</form>

<h1>Purchases:</h1>

<ul>
  <% @purchases.each do |purchase| %>
    <li><a href="/purchase/<%= purchase.id %>"><%= purchase.customer_name %></a></li>
  <% end %>
</ul>

<form action="/add_purchase" method="post">
  <label for="customer_name">Customer name:</label>
  <input id="customer_name" name="customer_name" type="text">
  <button type="submit">Add purchase</button>
</form>
